.aboutUs{
    .aboutUs-wrapper{
        max-width: 1360px;
        margin: 0 auto;
    }
    .aboutUs-title{
        font-family: "Oswald", sans-serif;
        font-size: 70px;
        font-weight: 600;
        line-height: 75px;
        text-align: center;
        text-transform: uppercase;
        margin: 120px 0;
        color: rgba(26, 46, 53, 1);
    }
    .aboutUs-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 190px;
    }
}