@media (max-width: 1700px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1600px;
        }
    }
}

@media (max-width: 1650px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1550px;
            .info-box__text{
                width: 82%;
            }
        }
    }
}

@media (max-width: 1600px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1500px;
            .info-box__text{
                width: 85%;
            }
        }
    }
}

@media (max-width: 1550px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1450px;
            .info-box__text{
                width: 87%;
            }
        }
    }
}

@media (max-width: 1500px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1400px;
            .info-box__text{
                width: 91%;
            }
        }
    }
}

@media (max-width: 1450px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1350px;
            .info-box__text{
                width: 94%;
            }
        }
    }
}

@media (max-width: 1400px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1300px;
            .info-box{
                width: 18%;
                .info-box__text{
                    width: 94%;
                }
            }
        }
    }
}

@media (max-width: 1350px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1250px;
            .info-box{
                .info-box__text{
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 1300px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1200px;
            .info-box{
                width: 18.5%;
                .info-box__text{
                    font-size: 21px;
                }
            }
        }
    }
}

@media (max-width: 1250px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1150px;
            .info-box{
                width: 18.5%;
                .info-box__text{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1100px;
        }
    }
}

@media (max-width: 1150px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1050px;
            .info-box{
                .info-box__text{
                    font-size: 19px;
                }
            }
        }
    }
}

@media (max-width: 1100px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 1000px;
            .info-box{
                .info-box__text{
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1050px){
    .aboutUs{
        margin-bottom: 150px;
        .aboutUs-wrapper{
            max-width: 950px;
            .aboutUs-info{
                display: grid;
                justify-items: stretch;
                gap: 50px;
                grid-template-columns:repeat(2,1fr);
                margin-bottom: 95px;
                .info-box{
                    width: 100%;
                    padding: 25px 0;
                    &:last-child{
                        width: 212%;
                    }
                    .info-box__text{
                        font-size: 26px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 900px;
        }
    }
}

@media (max-width: 950px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 850px;
            .aboutUs-info{
                .info-box{
                    &:last-child{
                        width: 213%;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 800px;
            .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 23px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 850px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 750px;
            .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 22px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 700px;
            .aboutUs-info{
                .info-box{
                    &:last-child{
                        width: 214%;
                    }
                    .info-box__text{
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 650px;
            .aboutUs-title{
                font-size: 56px;
                line-height: 62px;
            }
            .aboutUs-info{
                .info-box{
                    &:last-child{
                        width: 216%;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 600px;
            .aboutUs-title{
                font-size: 54px;
            }
            .aboutUs-info{
                .info-box{
                    &:last-child{
                        width: 218%;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 550px;
            .aboutUs-title{
                font-size: 50px;
                line-height: 60px;
            }
            .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 19px;
                        line-height: 26px;
                    }
                    &:last-child{
                        width: 220%;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 500px;
            .aboutUs-title{
                font-size: 45px;
                line-height: 55px;
            }
            .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 19px;
                        line-height: 25px;
                    }
                    &:last-child{
                        width: 222%;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 450px;
            .aboutUs-title{
               font-size: 38px;
               line-height: 50px;
            }
            .aboutUs-info{
                gap: 50px;
                grid-template-columns:repeat(1,1fr);
                .info-box{
                    width: 100%;
                    &:last-child{
                        width: 100%;
                    }
                    .info-box__text{
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 400px;
            .aboutUs-title{
                font-size: 35px;
                line-height: 42px;
                margin: 60px 0;
            }
        }
    }
}

@media (max-width: 450px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 350px;
            .aboutUs-title{
                font-size: 32px;
            }
            .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 300px;
            .aboutUs-title{
                font-size: 32px;
            }
            .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 19px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: 350px){
    .aboutUs{
        .aboutUs-wrapper{
            max-width: 300px;
            .aboutUs-title{
                font-size: 26px;
                line-height: 36px;
                margin: 40px 0 50px 0;
             }
             .aboutUs-info{
                .info-box{
                    .info-box__text{
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}