@media (max-width: 1430px){
    .map-wrapper{
        max-width: 1300px;
    }
}

@media (max-width: 1360px){
    .map-wrapper{
        max-width: 1260px;
    }
}

@media (max-width: 1330px){
    .map-wrapper{
        max-width: 1235px;
    }
}

@media (max-width: 1300px){
    .map-wrapper{
        max-width: 1200px;
    }
}

@media (max-width: 1270px){
    .map-wrapper{
        max-width: 1180px;
    }
}

@media (max-width: 1240px){
    .map-wrapper{
        max-width: 1130px;
    }
}

@media (max-width: 1200px){
    .map-wrapper{
        max-width: 1080px;
    }
}

@media (max-width: 1150px){
    .map-wrapper{
        max-width: 1040px;
    }
}

@media (max-width: 1100px){
    .map-wrapper{
        max-width: 990px;
    }
}

@media (max-width: 1050px){
    .map-wrapper{
        max-width: 940px;
    }
}

@media (max-width: 1000px){
    .map-wrapper{
        max-width: 890px;
    }
}

@media (max-width: 950px){
    .map-wrapper{
        max-width: 840px;
    }
}

@media (max-width: 900px){
    .map-wrapper{
        max-width: 790px;
    }
}

@media (max-width: 850px){
    .map-wrapper{
        max-width: 740px;
    }
}

@media (max-width: 800px){
    .map-wrapper{
        max-width: 690px;
    }
}

@media (max-width: 750px){
    .map-wrapper{
        max-width: 640px;
    }
}

@media (max-width: 700px){
    .map-wrapper{
        max-width: 590px;
    }
}

@media (max-width: 650px){
    .map-wrapper{
        max-width: 540px;
    }
}

@media (max-width: 600px){
    .map-wrapper{
        max-width: 490px;
    }
}

@media (max-width: 550px){
    .map-wrapper{
        max-width: 440px;
        .map{
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 500px){
    .map-wrapper{
        max-width: 390px;
    }
}

@media (max-width: 450px){
    .map-wrapper{
        max-width: 350px;
        .map{
            margin-top: 50px;
        }
    }
}

@media (max-width: 400px){
    .map-wrapper{
        max-width: 300px;
    }
}

@media (max-width: 350px){
    .map-wrapper{
        max-width: 250px;
    }
}