.start-wrapper{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 135px;
    .start__btn-container{
        width: 28.8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .start__btn-title{
            font-family: "Oswald", sans-serif;
            font-size: 60px;
            font-weight: 600;
            line-height: 70px;
            text-align: center;
            margin-bottom: 40px;
            color: rgba(26, 46, 53, 1);
        }
        .start__btn-img{
            align-self: center;
        }
        .request-btn{
            width: 70%;
        }
    }
    .start__info-container{
        width: 53%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
}