.rent{
    height: 550px;
    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
    .rent-wrapper{
        display: flex;
        .rent-img{
            width: 42%;
        }
        .rent-text{
            width: 43%;
            font-family: "Oswald", sans-serif;
            font-size: 70px;
            font-weight: 600;
            line-height: 80px;
            text-align: right;
            text-transform: uppercase;
            margin: 100px 0 0 20px;
            color: rgba(26, 46, 53, 1);
        }
    }
}