.rent{
    height: 500px;
    background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
    .rent-wrapper{
        display: flex;
        .rent-img{
            width: 40%;
        }
        .rent-text{
            width: 44%;
            font-family: "Oswald", sans-serif;
            font-size: 60px;
            font-weight: 600;
            line-height: 70px;
            text-align: right;
            text-transform: uppercase;
            margin-top: 100px;
            color: rgba(26, 46, 53, 1);
        }
    }
}