.footer{
    background:rgba(26, 46, 53, 1);
    .footer-wrapper{
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }
    .footer-column{
        width: 23%;
        &.third{
            width: 40%;
        }
        &.first{
            width: 30%;
        }
        .footer-column__text{
            font-family: "Montserrat",sans-serif;
            font-size: 23px;
            font-weight: 500;
            line-height: 39px;
            text-align: left;
            color: rgba(255, 255, 255, 1);

            a {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}
