.footer{
    background:rgba(26, 46, 53, 1);
    .footer-wrapper{
        max-width: 1630px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
    .footer-column{
        width: 25%;
        &.third{
            width: 36%;
        }
        .footer-column__text{
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 600;
            line-height: 39.01px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
            &.first{
                padding-bottom: 10px;
            }
        }
    }
}
