.request-btn{
    width: 40%;
    height: 90px;
    background: rgba(26, 46, 53, 1);
    font-family: Montserrat,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 70px 0 135px 0;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    &:hover{
        background: rgb(51, 79, 88);
        transition: 0.3s all;
    }
}