.info-box{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-box__text{
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 400;
        line-height: 45px;
        text-align: center;

    }
}